# Binaries for programs and plugins
cmd/ingress-trafikverket/ingress-trafikverket

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE files and directories
.vscode

